.container {
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: clamp(80rem, 90%, 90rem);
  height: 70vh;
}
.image {
  background-image: url("../about.jpg");
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5rem;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}
.about p {
  font-size: 1.4rem;
  font-weight: 500;
}
