.container {
  padding: 1rem;
  background-color: #e2e3f7;
  border-radius: 5px;
}
.form {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  gap: 1rem;
}

.form input {
  height: 1.7rem;
  width: 10rem;
  border: none;
  background-color: #f2f3f7;
  border-bottom: 1px solid #1a2e1abe;
  padding-left: 7px;
}
.btn {
  border: 1px solid #1a2e1a;
  font-size: 1.1rem;
  border-radius: 20px;
  padding: 5px 10px;
  margin-top: 5px;
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .btn {
    position: relative;
    bottom: 0px;
    left: 2px;
  }
  .form input {
    width: 6rem;
  }
  .form label {
    font-size: 1.3rem;
  }
}
